{% extends "home/base.html" %}
{% load static %}
{% block title %}
    Faculty Form
{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'faculty-form.css' %}"/>
{% endblock head %}
{% block navbar %}
    <a class="btn btn-light rounded-0 px-1 w-100"
       href="{% url 'main:profile' %}"
       value="profile"
       name="section">
        <i class="far fa-user-circle fa-2x"></i>
        <br/>
        Profile
    </a>
    {% if request.session.is_chairperson == True %}
        <a class="btn btn-light rounded-0 px-1 w-100"
           href="{% url 'main:create_schedule' %}"
           value="schedules"
           name="section">
            <i class="fas fa-calendar-day fa-2x"></i>
            <br/>
            Create
        </a>
        <a class="btn btn-light rounded-0 px-1 w-100"
           href="{% url 'main:subject' %}"
           value="dept"
           name="section">
            <i class="fas fa-sitemap fa-2x mt-1"></i>
            <br/>
            <small>Department</small>
        </a>
    {% endif %}
    {% if request.session.is_professor == True %}
        <a class="btn btn-light rounded-0 px-1 w-100"
            href="{% url 'main:schedule' %}"
            name="section">
            <i class="fas fa-calendar-day fa-2x"></i>
            <br/>
            Schedule
        </a>
        <a class="btn btn-secondary border-end border-4 border-primary rounded-0 px-1 w-100"
           href="{% url 'main:faculty_form' %}"
           value="dept"
           name="section">
            <i class="fas fa-clipboard-check fa-2x mt-1"></i>
            <br/>
            <small>Preferences</small>
        </a>
    {% endif %}
    <a role="button"
       href="{% url 'account:logout' %}"
       class="btn btn-light rounded-0 shadow-none px-1 mt-2">
        <i class="fas fa-sign-out-alt fa-2x"></i>
        <br/>
        Log out
    </a>
{% endblock navbar %}
{% block sidebarTask %}
    <div class="bg-light task-view pt-4" id="preference-view">
        <div class="px-5">
            <label class="table-title fw-bold">Your Subject Expertises:</label>
            <div class="mb-4 mt-2 w-100 stack-list" id="subjects-list">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle btn-rounded mt-1"
                            type="button"
                            id="day"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false">Add Field</button>
                    <ul class="dropdown-menu" aria-labelledby="day">
                        <li>
                            <a class="dropdown-item" role="button">Human Computer Interaction</a>
                        </li>
                        <li>
                            <a class="dropdown-item" role="button">Intelligent Systems</a>
                        </li>
                        <li>
                            <a class="dropdown-item" role="button">Operating Systems</a>
                        </li>
                        <li>
                            <a class="dropdown-item" role="button">Introduction to Computing</a>
                        </li>
                        <li>
                            <a class="dropdown-item" role="button">CS Elective</a>
                        </li>
                        <li>
                            <a class="dropdown-item" role="button">Software Engineering 1</a>
                        </li>
                    </ul>
                </div>
            </div>
            <label class="table-title fw-bold">Your Preferred Schedule:</label>
            <table class="table table-bordered table-sm fw-bold mt-2 mb-4 w-50 editable"
                   id="preferred-schedule">
                <thead class="text-center">
                    <tr>
                        <th table-cts-column="day text" style="width: 160px;">Day</th>
                        <th table-cts-column="start text">Time-in</th>
                        <th table-cts-column="end text">Time-out</th>
                        <td table-cts-column="edit">Action</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr class="add-data">
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle add-td-input unique"
                                        type="button"
                                        data-mdb-toggle="dropdown"
                                        aria-expanded="false">Day</button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" role="button">Monday</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" role="button">Tuesday</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" role="button">Wednesday</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" role="button">Thursday</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" role="button">Friday</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" role="button">Saturday</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" role="button">Sunday</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <input type="time" class="form-control add-td-input">
                        </td>
                        <td>
                            <input type="time" class="form-control add-td-input">
                        </td>
                    </tr>
                </tfoot>
            </table>
            <button class="btn btn-primary text-center btn-rounded submit" type="button">Submit</button>
        </div>
    </div>
    <script src="{% static 'js/responsive-table.js' %}"></script>
    <script>
    const prefSchedTable = new EditableTable("#preferred-schedule");
    const expertises = [];

    const subjectsList = $("div.stack-list#subjects-list");
    $(subjectsList).find(".dropdown-item").click((event) => {
        let itemVal = event.currentTarget.textContent;
        let newItem = $(`<button class="btn btn-outline-secondary btn-rounded stack-list-item" type="button">${itemVal}</button>`);
        let listItem = $(event.currentTarget).parent("li");
        $(newItem).click(() => {
            expertises.pop();
            $(newItem).remove();
            $(listItem).show();
        }).hover(
            () => $(newItem).addClass("btn-outline-danger").removeClass("btn-outline-secondary"),
            () => $(newItem).removeClass("btn-outline-danger").addClass("btn-outline-secondary")
        );
        $(event.currentTarget).closest(".dropdown").after(newItem);
        $(listItem).hide();
        expertises.push(itemVal);

    });

    $("button.submit").click(() => {
        $("#preference-view").empty().append("<h2>No Open Preference Forms</h2>");
        $("#alert-modal").attr({ "data-mdb-backdrop": "static", "data-mdb-keyboard": "false" });
        $("#alert-title").text("Your Preference is Recorded").addClass("text-success");
        $("#alert-body").html(
            "You're preferred subjects and schedule has been sent to the chairperson.<br>" +
            "Your final schedule for next semester will be posted by the chairperson."
        ).addClass("text-success");
        alertModal.show();
        // TODO: post answers to some api probableh
    });
    </script>
{% endblock sidebarTask %}
