{% extends 'profBase.html' %}

{% block content %}

<div class="container mt-3">

    <h4>Add New</h4>
    <hr>
    <form action="" method="post">

        {% csrf_token %}
        
        <div class="form-group">
            <label for="">ID:</label>
            <input type="text" name="inputId" class="form-control">
            <br>
        </div>

        <div class="form-group">
            <label for="">Name:</label>
            <input type="text" name="inputName" class="form-control">
            <br>
        </div>

        <div class="form-group">
            <label for="">Employment Status:</label>
            <select name="inputEmploymentStatus" class="form-control">
                <option selected disabled="true">-----Select Employment Status-----</option>
                <option>Part-time</option>
                <option>Full-time</option>
            </select>
            <br>
        </div>

        <div class="form-group">
            <label for="">College:</label>
            <select name="inputCollege" class="form-control" onchange="selectDepartment(this); clearBoxes()">
                <option selected disabled="true">-----Select College-----</option>
                <option value="1">College of Engineering and Technology</option>
                <option value="2">PLM Business School</option>
            </select>
            <br>
        </div>

        <div class="form-group d-none" id="departmentSelection">
            <label for="">Department:</label>
            <select name="inputDepartment" id="cetDept" class="form-control d-none">
                <option selected disabled="true">-----Select Department-----</option>
                <option>Computer Science</option>
                <option>Computer Engineering</option>
                <option>Information Technology</option>
            </select>

            <select name="inputDepartment" id="plmbsDept" class="form-control d-none">
                <option selected disabled="true">-----Select Department-----</option>
                <option>Business 1</option>
                <option>Ergonomics Or Something</option>
                <option>Mema Business 2</option>
            </select>

            <br>
        </div>

        <div class="form-group d-none" id="subjectSelection">
            <label for="">Expertise/Subject:</label>
            <hr>

            <div id="cetDeptSubject" class="d-none">
                <input type="checkbox" value="Software Engineering" class="chkvalues" name="clearValue"/>Software Engineering
                <input type="checkbox" value="Programming" class="chkvalues" name="clearValue"/>Programming
                <input type="checkbox" value="Human Computer Interaction" class="chkvalues" name="clearValue"/>Human Computer Interaction
                <input type="checkbox" value="Computer Systems and Hardware" class="chkvalues" name="clearValue"/>Computer Systems and Hardware
                <input type="checkbox" value="Discrete Structures" class="chkvalues" name="clearValue"/>Discrete Structures
                <input type="hidden" name="inputExpertiseSubject" id="txtvalues" name="clearValue"/>
            </div>

            <div id="plmbsDeptSubject" class="d-none">
                <input type="checkbox" value="Basic Calculus" class="chkvalues" name="clearValue"/>Basic Calculus
                <input type="checkbox" value="Intermediate Calculus" class="chkvalues" name="clearValue"/>Intermediate Calculus
                <input type="checkbox" value="Advanced Calculus" class="chkvalues" name="clearValue"/>Advanced Calculus
                <input type="checkbox" value="Business 101" class="chkvalues" name="clearValue"/>Business 101
                <input type="checkbox" value="Ewan Idk" class="chkvalues" name="clearValue"/>Ewan Idk
                <input type="hidden" name="inputExpertiseSubject" id="txtvalues" name="clearValue"/>
            </div>

            <br>
        </div>

        <div class="form-group" form action="/action_page.php">
            <label for="">Day and Time Availability:</label>
            <hr>
            <div id="row">
                <label for="">Day</label>
                <select class="form-control" style="width:165px" name="day1">
                    <option selected disabled="true" >-----Select Day-----</option>
                    <option>Monday</option>
                    <option>Tueday</option>
                    <option>Wednesday</option>
                    <option>Thursday</option>
                    <option>Friday</option>
                    <option>Saturday</option>
                </select>
                <label for="">Start Time</label>
                <input type="time" name="stime1">
                <br>
                <label for="">End Time:</label>
                <input type="time" name="etime1">
                <br>
            </div>
            <hr>
            <a href="#" class="btn btn-primary" onclick="addDiv()">&plus; Add Another Schedule</a>
            <br>
            <hr>
        </div>

        <!--DAY SHOULD BE DROPDOWN
        <div class="form-group">
            <label for="">Day Availability:</label>
            <input type="text" name="inputDayAvailability" class="form-control">
            <br>
        </div>

        <div class="form-group">
            <label for="">Time Preference:</label>
            <input type="text" name="inputTimePreference" class="form-control">
            <br>
        </div>
        -->

        <div class="form-group">
            <label for="">Units/Load:</label>
            <input type="text" name="inputUnitsLoad" class="form-control">
            <br>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>

    </form>

</div>

{% endblock content %}