#preference-view {
    text-align: start;
}

.temp-fix {
    grid-column: 2/4;
}

.temp-hide {
    display: none !important;
}

.table-title {
    font-size: 1rem;
}

button[type=submit] {
    background-color: #1063b1ff;
    background-image: linear-gradient(to right, #70a4d5ff, #1063b1ff);
}

.time { width: 150px; }

.stack-control { 
    display: grid;
    grid-template-columns: max-content auto;
    height: fit-content;
    align-items: flex-end;
    column-gap: 20px;
}

@media (max-width: 950px) {
    body>div {
        width: 94%;

    }
}

@media (max-width: 710px) {
    body>div {
        width: 100%;
        padding: 42px 0;
    }
}

@media (max-width: 588px) {
    .stack-control {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
    }
    .time {width: 110px}
}